
.header{
margin-bottom: 16px!important;
text-align: center!important;
font-family: system-ui;
font-size: 20px;
font-weight: 500;
}
/*
.button{
    display: inline-block;
    margin: 5px;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;}
*/
#a{
    font-size: 40px;
}
#start{
    font-size: 25px;
}
#books{
    font-weight: 400;
}
.myInput {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 80%; /* Full-width */
font-size: 16px; /* Increase font-size */
padding: 12px 20px 12px 40px; /* Add some padding */
border: 1px solid #ddd; /* Add a grey border */
margin-bottom: 12px; /* Add some space below the input */
}

#gridcontainer {
place-items: stretch; /* You can change this value by selecting another option in the list */
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-left: 10%;
}


.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: 10px;
text-align: center;
font-family: system-ui;
border: 1px solid rgb(229, 80, 27);
margin-top: 30px;
height: 300px;
}



.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: rgb(229, 80, 27);
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
margin-top: 10px;
}

.card button:hover {
opacity: 0.7;
}
